th{
    color:green
}
body{
    background-image: url(photo-1613158556069-e7d8eae76214.avif); 
     color:snow;
     background-size: cover;
     background-position: center;
}
h1{
    color: dodgerblue;
}



    
